<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">NgVGDB</span>
        <input class="search-input" name="search" ngModel placeholder="Search 500,000+ games"/>
        <button class="search-button">Search</button>
        <svg width="75" height="75" viewBox="0 -10 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect class="top" x="20" y="29" width="60" height="7.85106" fill="#000" />
            <rect class="middle" x="20" y="45.5745" width="60" height="7.85106" fill="#000" />
            <rect class="bottom" x="20" y="62.1489" width="60" height="7.85106" fill="#000" />
        </svg>
    </form>
</div>